/** <section class="main"> **/
.main
  padding: 0
  background: #143144 url(../img/main/main-bg.jpg)

.header
  &-wrap
    display: flex
    align-items: center
    justify-content: space-between

.navigation
  a
    font-size: 11px
    text-transform: uppercase
    color: #fff
    margin-right: 25px

    &:last-child
      margin-right: 0