/** Hover **/
@media ( min-width: 992px )
  .navigation
    a
      &:hover
        background: rgba(255,255,255, .15)
        border-radius: 3px

  .button:hover, .main-arrow:hover
    background-color: rgba(255,255,255, .2)
    cursor: pointer

  .button_blue:hover
    background-color: rgba(35, 170, 226, .1)

/** Media **/
@media( max-width: 1200px )
  .navigation
    order: 1
    width: 100%
    text-align: center
    padding: 10px 0
    a
      display: inline-block
      padding: 5px 10px

@media( max-width: 992px )
  .hero
    h1
      font-size: 70px
    span
      font-size: 30px
      margin-top: 30px

  .feedback
    &-block
      &-wrap
        flex-direction: column
    &-img
      margin-bottom: 50px

@media( max-width: 750px )
  .main
    height: auto
    &-arrow
      width: 30px
      height: 30px
      background-size: 50%

  .hero
    margin: 10% 0
    h1
      font-size: 55px
    span
      font-size: 25px

  .feedback
    &-slider
      margin-top: 50px
    &-review
      &-header
        flex-direction: column
        text-align: center
      &__name
        margin-right: 0
        margin-bottom: 20px
      &__social
        margin-right: 0
        margin-bottom: 20px
      &__city
        text-align: center
        margin-bottom: 20px

@media( max-width: 570px )
  .hero
    margin: 20% 0
    h1
      font-size: 38px
      letter-spacing: 0.3em
      line-height: 60px
    span
      letter-spacing: 0.3em
      margin-top: 20px

  .features
    &-block
      width: 100%

  .services
    &-header
      font-size: 32px

  .feedback
    &-header
      font-size: 32px
    &-review
      padding: 0 10px

@media( max-width: 440px )
  .header-wrap
    flex-direction: column
  .navigation
    margin-top: 20px
  .phone
    margin-top: 20px
    padding-left: 0
    &::before
      display: none

  .features
    &-header
      font-size: 32px
    &-wrapper
      margin-top: 40px
    &-block
      padding: 30px 15px

  .services
    &-header
      font-size: 28px
    &-dream
      &-img
        &__2, &__3
          display: none

  .feedback
    &-header
      font-size: 28px
