/*basic settings*/
$main-color: #fff

*
	box-sizing: border-box

body
	font-family: 'Museo Sans Cyrl', sans-serif
	font-weight: 900

img
	max-width: 100%
	
.container
	max-width: 1230px
	width: 95%
	margin: 0 auto

section
	padding: 90px 0 100px 0

.section-header
	font-size: 42px
	text-transform: uppercase
	text-align: center
	letter-spacing: 0.1em




@import 'fonts'
@import 'main'
@import 'features'

@import 'media'